{% include "store/base.html" %}

{% load static %}

{% block content %}

<body class="bg-secondary">
  <br>
  <div class="d-flex justify-content-center align-items-center" style="height: 500px;">

    <div class="container bg-white shadow-md p-5 form-layout mb-4">

      <div class="text-center">
        <i class="fa fa-check fa-3x text-success"></i>
        <br>
        <br>
        <h4>
          <strong>
            Your account is now active!
          </strong>
        </h4>
        <hr>
        <p>
          Please proceed to sign in.
        </p>
      </div>
    </div>
  </div>
</body>


{% endblock %}